/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body{
    background-image: url(/assets/If\ you\ woke\ up\ in\ the\ world\ of\ Naruto\,\ what\'s\ the\ first\ thing\ you\'re\ doing_.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
  }

/* Navbar */



.navbar {
    background:rgba(33, 33, 48, 0.862);
    backdrop-filter: blur(10px);
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 100000;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.logo-icon {
    width: 200px;
    border-radius: 50%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon img{
  height: 200px;
   margin-top: -72px;
  margin-left: -190px;}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}


.nav-menu {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 20px;
    position: relative;
    top: -40px;
    right: -70px;
}

.nav-menu a:hover {
    color: #667eea;
}

.cta-button {
    background: white;
    color: black;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
    display: inline-block;
    animation: fadeInUp 1s ease 0.4s both;
    position: relative;
    top: 150px;
    left: 680px;
}

.cta-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.hamburger-menu {
    display: none; /* Sembunyikan secara default */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

 

.id div h1{
  font-size: 80px;
  position: relative;
  padding-left: -50px;
  top: 150px;
  text-align: center;
  color: whitesmoke;
}

.skills
{
  margin-top: 190px;
}
.skills div h1{
  font-size: 70px;
  padding-left: 450px;
  position: relative;
  top: 150px;
  color: whitesmoke;
}

.skills img{
  padding-left: 850px;
  height: 300px;
  margin-top: 290px;
}

.skill {
      font-size: 20px;
      padding-left: 0px;
      text-align: left;
      width: 800px;
      position: relative;
      top: -350px;
      color: whitesmoke;
      border: 1px absolute black;
      background-color: rgba(1, 31, 1, 0.332);
      border-radius: 5%;
} 

.container {
  width: min(900px, 92%);
  margin: 48px auto;
}
.jutsu-section {
  padding: 40px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #ffffff; 
}

.table-wrap {
  overflow-x: auto;
}

.jutsu-table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background: #5757579a;
  box-shadow: 0 4px 8px rgba(134, 134, 134, 0.575);
  border-radius: 8px;
  overflow: hidden;
}

.jutsu-table th, .jutsu-table td {
  padding: 14px 18px;
  border: 1px solid #ffffff5d;
  text-align: left;
}

.jutsu-table th {
  background-color: #039097;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.jutsu-table tr:nth-child(even) {
  background-color: #5b5b5bbb;
}

.jutsu-table tr:hover {
  background-color: #0000007a;
  transition: 0.3s;
}

/* responsif kecil */
@media (max-width: 600px) {
  h1 {
    font-size: 1.4rem;
  }

  .jutsu-table th, .jutsu-table td {
    font-size: 0.85rem;
    padding: 10px;
  }
}

.footer {
    background: #2d3748;
    color: white;
    padding: 3rem 0 1rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    margin-bottom: 2rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
   color: whitesmoke;
}

.footer-section p {
    color: #cbd5e0;
    margin-bottom: 0.5rem;
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #4a5568;
    color: #a0aec0;
}